NodeRED/flows.json
[
    {
        "id": "f9cef2df58d37b15",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "137a5c34b3977bb2",
        "type": "mqtt in",
        "z": "f9cef2df58d37b15",
        "name": "TTN",
        "topic": "#",
        "qos": "2",
        "datatype": "json",
        "broker": "c108e8bdaba75907",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "96963f2360398ee5",
                "3915950cb88952d8"
            ]
        ]
    },
    {
        "id": "96963f2360398ee5",
        "type": "debug",
        "z": "f9cef2df58d37b15",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "64e92e11397c34b6",
        "type": "influxdb out",
        "z": "f9cef2df58d37b15",
        "influxdb": "b01e1fe1eeab2774",
        "name": "InfluxDB",
        "measurement": "ruche-groupe-1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "training-usmb",
        "bucket": "iot-platform",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "3915950cb88952d8",
        "type": "function",
        "z": "f9cef2df58d37b15",
        "name": "function 1",
        "func": "msg.payload = \n[\n    {\n        \"poids\" : msg.payload.uplink_message.decoded_payload.poids,\n        \"temperature\" : msg.payload.uplink_message.decoded_payload.temperature\n    },\n    \n    {\n        \"Device\" : msg.payload.end_device_ids.device_id\n    }\n]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "64e92e11397c34b6",
                "96963f2360398ee5"
            ]
        ]
    },
    {
        "id": "a534469eb5b544a4",
        "type": "mqtt in",
        "z": "f9cef2df58d37b15",
        "name": "TTN",
        "topic": "#",
        "qos": "2",
        "datatype": "json",
        "broker": "a1a0a43d06ab6119",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 520,
        "wires": [
            [
                "6e49688f42b4d8ef",
                "b64ab4bed17a53e3",
                "f103ee5b2eb4d969"
            ]
        ]
    },
    {
        "id": "6e49688f42b4d8ef",
        "type": "debug",
        "z": "f9cef2df58d37b15",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 520,
        "wires": []
    },
    {
        "id": "b64ab4bed17a53e3",
        "type": "function",
        "z": "f9cef2df58d37b15",
        "name": "function 2",
        "func": "msg.url = \"https://www.rbaskets.in/ks8zch1\";\nmsg.method = \"POST\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nvar decoded = msg.payload.uplink_message.decoded_payload;\n\nmsg.payload = {\n    device_id:        msg.payload.end_device_ids.device_id,\n    received_at:      msg.payload.received_at,\n    temperature_deg_c: decoded.temperature_deg_c,\n    humidity_percent:  decoded.humidity_percent,\n    pressure_hpa:      decoded.pressure_hpa,\n    predicted_class:   decoded.predicted_class,\n    prediction_fr:     decoded.prediction_fr\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 640,
        "wires": [
            [
                "6e211176ace86827"
            ]
        ]
    },
    {
        "id": "6e211176ace86827",
        "type": "http request",
        "z": "f9cef2df58d37b15",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.rbaskets.in/ks8zch1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "e80286890fd6acb4",
        "type": "http request",
        "z": "f9cef2df58d37b15",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.141.106:8000/uplink ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "f103ee5b2eb4d969",
        "type": "function",
        "z": "f9cef2df58d37b15",
        "name": "function 3",
        "func": "var decoded = msg.payload.uplink_message.decoded_payload;\n\nmsg.payload = {\n    device_id:         msg.payload.end_device_ids.device_id,\n    received_at:       msg.payload.received_at,\n    temperature_deg_c: decoded.temperature_deg_c,\n    humidity_percent:  decoded.humidity_percent,\n    pressure_hpa:      decoded.pressure_hpa,\n    predicted_class:   decoded.predicted_class,\n    prediction_fr:     decoded.prediction_fr\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 720,
        "wires": [
            [
                "e80286890fd6acb4"
            ]
        ]
    },
    {
        "id": "c108e8bdaba75907",
        "type": "mqtt-broker",
        "name": "TTM2",
        "broker": "eu1.cloud.thethings.network:1883",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b01e1fe1eeab2774",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.141.106:81",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "a1a0a43d06ab6119",
        "type": "mqtt-broker",
        "name": "Metai",
        "broker": "eu1.cloud.thethings.network:1883",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]